.root{
            -fx-font-size: 11pt;
            -fx-font-family: "Arial";
            }

.choice-box .label {
            -fx-font-size: 12pt;
            -fx-text-fill: #0000FF;
            }
             .context-menu {
            -fx-font-size: 12pt;
            -fx-text-fill: #0000FF;
            }

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #660000;
}

/*******************************************************
                    Contract Schedule
*******************************************************/
#contract_schedule_table .column-header .label {
                             -fx-text-fill: #191970;
                             -fx-font-weight: normal;
                         }

#contract_schedule_table .table-column{
    -fx-text-fill: #006400;
}

.tableDateStyle{
    -fx-alignment: CENTER;
}

.tableTimeStyle{
    -fx-alignment: CENTER;
}

.tableTotalDayHoursStyle {
    -fx-alignment: CENTER-RIGHT;
    -fx-font-weight: bold;
}

/*
    -fx-base: rgb(255, 255, 204);
    -fx-background: rgb(224, 224, 224);

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #E0E0E0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
*/



