.root{
            -fx-font-size: 9pt;
            -fx-font-family: "Noto Sans";
            }

.choice-box .label {
            -fx-font-size: 10pt;
            -fx-text-fill: #0000FF;
            }
             .context-menu {
            -fx-font-size: 12pt;
            -fx-text-fill: #0000FF;
            }

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #660000;
}

.tableDateStyle{
    -fx-alignment: CENTER;
}

.tableTimeStyle{
    -fx-alignment: CENTER;
}

.tableTotalDayHoursStyle {
    -fx-alignment: CENTER-RIGHT;
    -fx-font-weight: bold;
}

#contractType .label{
          -fx-font-size: 10pt;
}

/*******************************************************
                    TableView: Contract Schedule
*******************************************************/
#contract_schedule_table .column-header .label {
                             -fx-text-fill: #191970;
                             -fx-font-weight: normal;
}

#contract_schedule_table .table-column{
    -fx-text-fill: #006400;
}

#contract_schedule_table .tableDateStyle{
    -fx-alignment: CENTER;
}

/*******************************************************
       TableView: Contract Documentation Control Data
*******************************************************/
#contract_documentation_control_table .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-weight: normal;
}

#contract_documentation_control_table blue.table-column{
    -fx-text-fill: #000FFF;
}

#contract_documentation_control_table red.table-column{
    -fx-text-fill: #640000;
}

#contract_documentation_control_table .blue-tableTextStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER_LEFT;
}

#contract_documentation_control_table .green-tableDateStyle{
    -fx-text-fill: #006400;
    -fx-alignment: CENTER;
}

#contract_documentation_control_table .red-tableDateStyle{
    -fx-text-fill: #640000;
    -fx-alignment: CENTER;
}

/*******************************************************
       TableView: Consultation Contract Table Data
*******************************************************/
#consultation_contract_table .column-header .label {
                             -fx-text-fill: #640000;
                             -fx-font-weight: normal;
}

#consultation_contract_table blue.table-column{
    -fx-text-fill: #000FFF;
}

#consultation_contract_table red.table-column{
    -fx-text-fill: #640000;
}

#consultation_contract_table .blue-tableTextStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER_LEFT;
}

#consultation_contract_table .blue-tableNumberCenteredStyle{
    -fx-text-fill: #191970;
    -fx-alignment: CENTER;
}

#consultation_contract_table .green-tableDateStyle{
    -fx-text-fill: #006400;
    -fx-alignment: CENTER;
}

#consultation_contract_table .red-tableDateStyle{
    -fx-text-fill: #640000;
    -fx-alignment: CENTER;
}
/*
    -fx-base: rgb(255, 255, 204);
    -fx-background: rgb(224, 224, 224);

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
}

.tab-pane .tab:selected
{
    -fx-background-color: #E0E0E0;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
*/



