<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
 
        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/gmoldes_prb</property>
        <property name="hibernate.connection.username">jmrb</property>
        <property name="hibernate.connection.password">L100mhdSL</property>

        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
 
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>
 
        <!-- Drop and re-create all database on startup -->
      <!--   <property name="hibernate.hbm2ddl.auto">create-drop</property> -->
        <property name="hibernate.hbm2ddl.auto">validate</property>
 
        <!-- Annotated entity classes -->
        <mapping class="gmoldes.domain.client.persistence.vo.ClientVO"/>
        <mapping class="gmoldes.components.contract.new_contract.persistence.vo.ContractVO"/>
        <mapping class="gmoldes.domain.person.persistence.vo.PersonVO"/>
        <mapping class ="gmoldes.components.contract.initial_contract.persistence.vo.InitialContractVO"/>
        <mapping class="gmoldes.components.contract.contract_variation.persistence.vo.ContractVariationVO"/>
        <mapping class="gmoldes.domain.traceability_contract_documentation.persistence.vo.TraceabilityContractDocumentationVO"/>
        <mapping class="gmoldes.components.contract.new_contract.persistence.vo.TypesContractVariationsVO"/>
        <mapping class="gmoldes.components.contract.new_contract.persistence.vo.ContractTypeVO"/>
        <mapping class="gmoldes.domain.client.persistence.vo.ClientCCCVO"/>
        <mapping class="gmoldes.domain.study.persistence.vo.StudyVO"/>
        <mapping class="gmoldes.domain.servicegm.persistence.vo.ServiceGMVO"/>

    </session-factory>
</hibernate-configuration>